.search__logo {
  text-align: center;
  font-weight: 700;
  left: 50%;
  top: 45%;
  font-size: 5rem;
  color: #000;
  letter-spacing: -0.05rem;
  text-shadow: -2px -2px 1px #ff6, 2px -2px 1px #ff6, -2px 2px 1px #ff6,
    2px 2px 1px #ff6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.search__inputs {
  padding: 0.5rem;
  @include flex_row;
}
.search__buttons {
  margin-top: 40px;
  padding: 0.5rem;
  @include flex_row;
}

.books__buttons {
  padding: 0.5rem;
  width: 100%;
  @include flex_between;
}

@media only screen and (max-width: 790px) {
  .search__logo {
    font-size: calc(24px + 56 * ((100vw - 320px) / 470));
  }
  .books__buttons {
    @include flex_column;
  }
}
