.table {
    width: calc(100vw - 20px);
    @media (min-width: 1200px) {
        width: 1180px;
    }
    table-layout: fixed;
    overflow-x: auto;
    overflow-y: hidden;
    border-collapse: collapse;
    box-sizing: border-box;
    padding: 0;
    word-wrap: break-word;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: $starwars_color;
    border-radius: 2px;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);

    & td {
        border-top: 1px solid $starwars_color;
        min-width: 108px;
        padding: 0.75rem;
    }

    & > tbody {
        background-color: $table_background;
        & tr:hover {
            background-color: $table_row_hover;
            transition: all 0.3s;
        }
        & td {
            max-height: 12rem;
            & .cell-regular {
                overflow-y: auto;
            }
        }
    }
    & > thead {
        background-color: $table_header_color;
        & .header__cell {
            vertical-align: bottom;
            border: none;
            padding: 0.75rem;
            cursor: pointer;
            @media only screen and (max-width: 768px) {
                font-weight: normal;
                font-size: calc(9px + 4 * (100vw - 320px) / 448);
            }

            &.header__cell-small {
                width: 13.3333%;
            }
            &.header__cell-large {
                width: 20%;
            }
        }
    }
}
