$input_background: rgba(122, 194, 33, 0.8);
$input_background_light: rgba(122, 194, 33, 0.5);
$input_border: rgb(122, 194, 33);

$table_background: #2c303a;
$table_row_hover: #3e454d;
$table_header_color: #1e1f26;

$starwars_color: #ffcf10;

$details_link_color: rgb(247, 86, 12);
$details_item_font_color: #1e272c;
$details_item_font_color: #112942;

$btn-ok-bis: #298b01;
